<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="MongoDBPath" value="C:\data\db" />
    <add key="AppMinHeight" value="480"></add>
    <add key="AppMinWidth" value="700"></add>
    <add key="OpticalFilePath" value="C:\Athena\OpticalFiles" />
    <add key="DynamicConfigFilePath" value="C:\Athena\DynamicConfigFiles" />
    <add key="CogsInputFolder" value="C:/Demo_DNA/Input" />
    <add key ="DefaultPageSize" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="MongoConnection" connectionString="mongodb://{0}:{1}@localhost:27017?authSource=admin" />
  </connectionStrings>
</configuration>